.ContactPicker {
    background-color: rgb(165, 165, 165);
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 8px;
}

.ContactPickerHeader {
    padding: 10px;
}

.ContactPickerDiv {
    padding: 2px 30px;
    margin-top: 12px;
}